* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.container {
    width: 402px;
    height: 402px;
    border: 2px solid black;
    position: absolute;
    /* padding: 5px; */
    z-index: 999;
}

.snake {
    width: 40px;
    height: 20px;
    background-color: #000;
    position: absolute;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #008000;
    position: absolute;
    z-index: 99;
    overflow: hidden;
}